
Code/API_Keys.py
Capstone Paper/.DS_Store
Capstone Paper/~$ather Phillips Capstone Paper Final.docx
Capstone Paper/Heather Phillips Capstone Paper Final.pdf
Capstone Paper/Heather Phillips Capstone Paper Final.docx
Capstone Paper/Figures/Screenshot 2023-05-06 at 10.16.05 AM.png
Capstone Paper/Figures/Screenshot 2023-05-05 at 8.36.59 PM.png
Capstone Paper/Figures/Screenshot 2023-05-05 at 8.31.07 PM.png
Capstone Paper/Figures/Screenshot 2023-05-05 at 8.30.58 PM.png
Capstone Paper/Figures/Screenshot 2023-05-05 at 8.30.44 PM.png
Capstone Paper/Figures/Screenshot 2023-05-05 at 8.30.33 PM.png
Capstone Paper/Figures/Screenshot 2023-05-05 at 8.30.21 PM.png
Capstone Paper/Figures/Screenshot 2023-05-05 at 8.30.08 PM.png
Capstone Paper/Figures/Screenshot 2023-05-05 at 8.29.56 PM.png
Capstone Paper/Figures/Screenshot 2023-05-05 at 8.29.44 PM.png
Capstone Paper/Figures/Screenshot 2023-05-05 at 8.29.31 PM.png
Capstone Paper/Figures/Screenshot 2023-05-05 at 8.29.21 PM.png
Capstone Paper/Figures/Screenshot 2023-05-05 at 8.29.09 PM.png
Capstone Paper/Figures/Screenshot 2023-05-05 at 8.28.57 PM.png
Capstone Paper/Figures/Screenshot 2023-05-05 at 8.28.46 PM.png
Capstone Paper/Figures/Screenshot 2023-05-05 at 8.28.35 PM.png
Capstone Paper/Figures/Screenshot 2023-05-05 at 8.28.22 PM.png
Capstone Paper/Figures/Screenshot 2023-03-26 at 11.15.48 AM.png
Capstone Paper/Figures/Screenshot 2023-03-19 at 11.17.04 AM.png
Capstone Paper/Figures/Screenshot 2023-03-19 at 11.14.40 AM.png
Capstone Paper/Figures/Screenshot 2023-03-19 at 11.14.31 AM.png
Capstone Paper/Figures/Screenshot 2023-03-19 at 11.14.23 AM.png
Capstone Paper/Figures/Screenshot 2023-03-19 at 11.03.26 AM.png
Capstone Paper/Figures/MRA_What_Is_TIF_FINAL_2022-01-24_202202161135214234_Page_2.jpg
Capstone Paper/Figures/MRA_What_Is_TIF_FINAL_2022-01-24_202202161135214234_Page_1.jpg
Capstone Paper/Figures/For Paper URD Boundries.png
Capstone Paper/Figures/For Paper URD 1 Project totals.png
Capstone Paper/Figures/Color Choice.png
Capstone Paper/Feedback/shayna_reviewing_heather.docx
Capstone Paper/Feedback/jamie_reviewing_heather_COMMENTED_DRAFT.docx
Capstone Paper/Feedback/jamie_reviewing_heather.docx
Capstone Paper/Feedback/Feedback Form for Peer Workshops - Analytical.docx
Capstone Paper/Drafts/Capstone Paper V3 050523.docx
Capstone Paper/Drafts/Capstone Paper V2 040923.docx
Capstone Paper/Drafts/Capstone paper V1 032623.docx
Capstone Paper/Drafts/Capstone paper 3_26_23_commented.docx
